name: ROS2 docker

on:
  pull_request:
    branches: [ master ]
    paths-ignore: '**.md'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_PAT }}
          path: glim_ros2
          submodules: recursive

      - uses: actions/checkout@v2
        with:
          repository: koide3/glim
          token: ${{ secrets.GH_PAT }}
          path: glim
          submodules: recursive

      - name: Docker login
        continue-on-error: true
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker build
        uses: docker/build-push-action@v2
        with:
          file: ${{github.workspace}}/glim_ros2/docker/galactic/Dockerfile
          context: .
          push: false

      - name: Docker build
        uses: docker/build-push-action@v2
        with:
          file: ${{github.workspace}}/glim_ros2/docker/galactic_cuda11.2/Dockerfile
          context: .
          push: false
